:root {
	--primary: #D81E5B;
	--secondary: #8A4EFC;
	--light: #EEE;
	--light-alt: #61759b;
	--dark: #131A26;
	--dark-alt: #202B3E;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Fira Sans", sans-serif;
}

.App {
	padding: 32px;
    background-color: var(--dark-alt);
	color: var(--light);
	height: 100vh;
}

.header {
	z-index: 2;
	position: relative;
	opacity: 0.9;
	text-align:center; 
	color:white; 
	font-size:100px;
	top: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

h1.neon {
	font-size: 4rem;
	font-family: 'Orbitron', sans-serif;
	color: white;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
	animation: neon 1s ease-in-out infinite alternate;
  }
  
  @keyframes neon {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
	}
	to {
	  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
	}
  }
  
